#container{
    width:75%;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 50px;
}

#paymentModes{
    width: 75%;
    margin: auto;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2%;

}

#paymentModes>div{
    height: 200px;
    text-align: center;
    padding-top: 20%;
    cursor: pointer;
}
#paymentModes>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

#paymentModes>div>img{
    width:30%;
}
